<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfessionalService",
  "name": "WebShop Studio",
  "url": "https://webshopstudio.ru/",
  "description": "Создание сайтов, лендингов, корпоративных сайтов и интернет-магазинов на WordPress и WooCommerce под ключ.",
  "areaServed": {
    "@type": "Country",
    "name": "Россия"
  },
  "serviceType": [
    "Создание сайтов",
    "Создание лендингов",
    "Создание интернет-магазинов",
    "Разработка сайтов на WordPress",
    "Разработка интернет-магазинов на WooCommerce"
  ],
  "email": "ivanbogachenco@gmail.com",
  "sameAs": []
}
</script>